{% load static %} <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>전체 게시판</title>
        <link rel="stylesheet" href="{% static 'css/post_form.css' %}" />
    </head>
    <body>
        <form method="post" id="PostForm">
            {% csrf_token %}
            <div class="header" method="post" id="PostForm">
                <!--헤더-->
                <div class="timeZone"></div>
                <div class="header2">
                    <a href="{% url 'board:board' %}"><img src="{% static 'img/Vectorback.svg' %}" class="xxx" /></a>
                    <div>글쓰기</div>
                    <button type="submit" class="submitButton">완료</button>
                </div>
            </div>
            <div class="inputs">
                <div class="writeTitle">
                    <!--제목-->
                    <input
                        maxlength="100"
                        placeholder="제목을 입력하세요."
                        class="titletext"
                        type="text"
                        name="subject"
                        id="subject"
                        value="{{ form.subject.value|default_if_none:'' }}"
                    />
                </div>

                <div class="writeContent">
                    <!--내용-->
                    <input
                        type="text"
                        placeholder="내용을 입력하세요."
                        class="contenttext"
                        id="content"
                        name="content"
                        cols="30"
                        rows="15"
                    />
                    {{ form.content.value|default_if_none:'' }}
                </div>
            </div>
        </form>
    </body>
</html>
