<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrap">
        <header id="signup-header">
            <button  class="bak-button" type="button" onClick="history.go(-1)"><div class="back" ></div></button>
            <div class="signup-h"><span>비밀번호 찾기</span></div>
        </header>
        <div class="signup-wrapper">
            <h2 class="findid-text01">이메일 정보 인증하기</h2>
            <form method="post" action="" id="signup-form">
                {% csrf_token %}
                {{ password_reset_form.as_p }}
            </form>
        </div>
    </div>
</body>
</html>