{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>패스워드 변경 완료</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <div id="wrap">
            <header id="signup-header">
                <button class="bak-button" type="button" onClick="history.go(-1)"><div class="back"></div></button>
                <div class="signup-h"><span>패스워드 변경 완료</span></div>
            </header>
            <div class="signup-wrapper">
                <h2 class="signup-text01">패스워드 변경이 완료되었습니다.</h2>
                <div class="cert-a"><a href="{% url 'accounts:login' %}">로그인 페이지로 이동</a></div>
            </div>
        </div>
    </body>
</html>
