{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>스터디</title>
        <link rel="stylesheet" href="../../static/css/style.css" />
        <link rel="stylesheet" href="{% static 'css/board.css' %}" />
    </head>
    <body>
        <div id="wrap">
            <div class="study-wrapper">
                <header id="signup-header">
                    <div class="signup-h"><span>스터디</span></div>
                </header>
                <div class="study-main">
                    <a href="{% url 'study:quizHome' %}">
                        <div class="quiz-card">
                            <h1 class="studyQ-h1">퀴즈</h1>
                            <div class="studyQ-under">
                                <span class="studyQ-text"
                                    >간단한 퀴즈를 통해<br />
                                    부동산 관련 지식을 얻어<br />
                                    집 마스터가 되어보세요!</span
                                >
                                <div class="studyQ-img"></div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'study:flashCardHome' %}">
                        <div class="flash-card">
                            <h1 class="studyQ-h1">플래시 카드</h1>
                            <div class="studyQ-under">
                                <span class="studyQ-text"
                                    >가볍게 넘기는 플래스 카드로<br />부동산 관련 지식을 얻어<br />
                                    집 마스터가 되어보세요!</span
                                >
                                <div class="flash-img"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="underBar">
                    <!--하단바-->

                    <a href="{% url 'study:studyHome' %}"
                        ><img src="{% static 'img/하단study.svg' %}" class="quize"
                    /></a>
                    <a href="{% url 'board:board' %}"><img src="{% static 'img/하단homeB.svg' %}" class="home" /></a>
                    <a href="{% url 'mypage:my_page' %}"><img src="{% static 'img/하단myJ.svg' %}" class="mypage" /></a>
                </div>
            </div>
        </div>
    </body>
</html>
