{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>전체 게시판</title>
        <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />
        <style>
            .whiteBox {
                height: 170px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <!--헤더-->
            <div class="timeZone"></div>
            <div class="flexBox">
                <div class="byMe">마이페이지</div>
            </div>
        </div>
        <br />
        <section class="profileBox">
            <!--플필 사진-->

            <div class="overLap">
                <!--겹치기-->
                <div class="profile"><!--사진--><img src="{% static 'img/iconamoon_profile-circle-fill.svg' %}" /></div>
            </div>
        </section>
        {% if user.is_authenticated %}

        <div class="nickName">{{ user.nickname }}</div>

        {% else %}
        <a href="{% url 'accounts:login' %}"><div class="nickName">로그인을 하시오</div></a>
        {% endif %}

        <div class="whiteBox">
            <!--흰상자-->
            <article>
                <div class="mine"><!--나의 활동-->나의 활동</div>

                <a href="{% url 'mypage:my_post' %}"
                    ><div class="myContent"><img src="{% static 'img/image 28pencil.svg' %}" />&nbsp;내가 쓴 글</div></a
                >

                <a href="{% url 'mypage:my_like' %}"
                    ><div class="myScrap">
                        <!--좋아요 누른 글--><img src="{% static 'img/image 29heart.svg' %}" />&nbsp;좋아요 누른 글
                    </div></a
                >
            </article>
        </div>

        <div class="whiteBox">
            <!--흰상자-->
            <article>
                <div class="study"><!--부동산 스터디-->부동산 스터디</div>
                <a href="{% url 'mypage:my_quiz' %}"
                    ><div class="myQuize">
                        <!--퀴즈 저장 기록--><img src="{% static 'img/image 26hmm.svg' %}" />&nbsp;퀴즈 저장 기록
                    </div></a
                >
                <a href="{% url 'mypage:my_flash' %}"
                    ><div class="myCard">
                        <!--플래시 카드 저장 기록--><img src="{% static 'img/image 27letter.svg' %}" />&nbsp;플래시 카드
                        저장 기록
                    </div></a
                >
            </article>
        </div>

        {% if user.is_authenticated %}
        <div class="whiteBox">
            <!--흰상자-->
            <article>
                <div class="study"><!--부동산 스터디-->계정 관리</div>
                <a href="#"
                    ><div class="myQuize">
                        <!--퀴즈 저장 기록--><img src="{% static 'img/image 26lock.svg' %}" />&nbsp;비밀번호 재설정
                    </div></a
                >
                <a href="{% url 'accounts:logout' %}"
                    ><div class="myCard">
                        <!--플래시 카드 저장 기록--><img src="{% static 'img/image 27door.svg' %}" /> &nbsp;로그아웃
                    </div></a
                >
            </article>
            <br /><br /><br /><br /><br /><br /><br /><br />
        </div>

        {% endif %}
        <div class="underBar">
            <!--하단바-->

            <a href="{% url 'study:studyHome' %}"><img src="{% static 'img/하단study.svg' %}" class="quize" /></a>
            <a href="{% url 'board:board' %}"><img src="{% static 'img/하단home.svg' %}" class="home" /></a>
            <a href="{% url 'mypage:my_page' %}"><img src="{% static 'img/하단my.svg' %}" class="mypage" /></a>
        </div>
    </body>
</html>
