{% if user.is_authenticated %}
    <label>{{ user.nickname }}</label><br>
{% else %}
    <a href="{% url 'accounts:login' %}">로그인 후 이용해 주세요</a>
{% endif %}
<div>
    <label>나의 활동</label><br><br>
    <a href="{% url 'mypage:my_post' %}">내가 쓴 글</a><br>
    <a href="{% url 'mypage:my_like' %}">좋아요 누른 글</a><br><br><br>
</div>
<div>
    <label>부동산 스터디</label><br><br>
    <a href="{% url 'mypage:my_quiz' %}">퀴즈 저장 기록</a><br>
    <a href="{% url 'mypage:my_flash' %}">플래시 카드 저장 기록</a><br><br><br>
</div>
{% if user.is_authenticated %}
    <div>
        <label>계정 관리</label><br><br>
        <a>비밀번호 재설정</a><br>
        <a a href="{% url 'accounts:logout' %}">로그아웃</a>
    </div>
{% endif %}

