{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>전체 게시판</title>
        <link rel="stylesheet" href="{% static 'css/myQuize.css' %}" />
    </head>
    <body>
        <div class="header">
            <!--헤더-->
            <div class="timeZone"></div>
            <div class="flexBox">
                <a href="{% url 'mypage:my_page' %}"><img src="#" class="goBack" /></a>
                <div class="byMe">퀴즈 저장 기록</div>
            </div>
        </div>

        <div class="whiteBox">
            <!--흰상자-->{% if answer_list %} {% for answer in answer_list %}
            <article class="quizeContent">
                <a href="{% url 'study:question' answer.quiz.id %}">
                    <div class="quizeSize">{{ answer.quiz.title }}</div></a
                >
                <img src="#" />
            </article>
            {% endfor %} {% else %}
            <div class="errorNone">내가 기록한 퀴즈가 없습니다</div>
            {% endif %}
        </div>
    </body>
</html>
