{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>전체 게시판</title>
        <link rel="stylesheet" href="{% static 'css/board.css' %}" />
    </head>

    <body>
        <div class="underBar">
            <!--하단바-->

            <a href="{% url 'study:studyHome' %}"><img src="#" class="quize" /></a>
            <a src="{% url 'board:board' %}"><img class="home" /></a>
            <a href="{% url 'mypage:my_page' %}"><img src="#" class="mypage" /></a>
        </div>

        <nav class="plus">
            {% if area %}
            <a href="{% url 'board:post_create' area %}">➕</a>
            {% else %}
            <a href="{% url 'board:area_set' %}" class="create">➕</a>
            {% endif %}
        </nav>
    </body>
</html>

<!--마이페이지 부분 색다른 사진 넣기-->
